// To make footer sticked to the bottom of viewport
@media screen {
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #wrapper {
    flex: 1;
  }
}

img {
  &.is-covered {
    object-fit: cover;
  }

  &.is-contained {
    object-fit: contain;
  }
}

.is-expandable {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    opacity: 0;
    transition: opacity .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }

  .expand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .5s ease;
    z-index: 3;
  }

  &:hover:before {
    opacity: 1;
  }

  &:hover .expand {
    opacity: 1;
  }
}