{% extends 'movietut/base.html' %}

{% block content %}

    <section class="hero is-fullheight-with-navbar">

        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column" style="max-width: 376px;">
                        <div class="panel">
                            <p class="panel-heading">Connexion</p>
                            <div class="panel-block">
                                <form class="control my-2 mx-4" method="post">
                                    {% csrf_token %}
                                    {% load widget_tweaks %}

                                    {% for err in form.non_field_errors %}
                                        <div class="notification is-size-7 is-danger is-light is-italic error-message">
                                            {{ err }}
                                        </div>
                                    {% endfor %}

                                    <!-- Champ username -->
                                    <div class="field">
                                        <label class="label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                                        <div class="control has-icons-left has-icons-right">
                                            {% render_field form.username class="input" id="username" placeholder=form.username.label %}
                                            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                                            <span class="icon is-small is-right"><i class="delete"
                                                                                    data-target="username"></i></span>
                                        </div>
                                    </div>

                                    <!-- Champ password -->
                                    <div class="field">
                                        <label class="label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                                        <div class="control has-icons-left has-icons-right">
                                            {% render_field form.password class="input" id="password" type="password" placeholder=form.password.label %}
                                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                            <span class="icon is-small is-right"><i class="delete"
                                                                                    data-target="password"></i></span>
                                        </div>
                                    </div>

                                    <!-- Bouton de connexion -->
                                    <div class="field mt-5">
                                        <div class="control">
                                            <button type="submit" class="button is-primary is-fullwidth">Connexion</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        const $deleteBtns = Array.prototype.slice.call(document.querySelectorAll('.delete'), 0);

        if ($deleteBtns.length > 0) {
            $deleteBtns.forEach(el => {
                el.addEventListener('click', () => {

                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    $target.value = '';
                });
            });
        }

    </script>


{% endblock %}