{% extends 'movietut/base.html' %}
{% block title %}
    {{ movie.title }} ({{ movie.release_date.year }})
{% endblock %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth">
                    {% if movie.poster %}
                        <figure class="image is-3by4">
                            <img src="https://www.themoviedb.org/t/p/w1280{{ movie.poster }}"
                                 alt="{{ movie }} poster">
                        </figure>
                    {% else %}
                        <figure class="image is-3by4">
                            <img src="{% static 'movietut/img/placeholder.svg' %}"
                                 alt="{{ movie }} poster">
                        </figure>
                    {% endif %}
                </div>
                <div class="column">
                    <div class="content">
                        <h1 class="title">{{ movie.title }}
                            <span class="has-text-weight-light has-text-grey-dark">({{ movie.release_date.year }})</span>
                        </h1>
                    </div>
                    <div class="content has-text-justified">
                        <h2>Synopsis</h2>
                        {{ movie.overview }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}