{% extends 'movietut/base.html' %}
{% block title %}
    {{ movie.title }} ({{ movie.release_date.year }})
{% endblock %}
{% load static %}
{% load custom_tags %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth">
                    {% if movie.poster %}
                        <a href="#" class="modal-button" data-target="poster-wide">
                            <figure class="image is-3by5 is-expandable">
                                <img src="{% get_poster_url movie.poster %}"
                                     alt="{{ movie }} poster" class="is-contained">
                                <span class="expand icon has-text-white">
                                    <i class="fas fa-2x fa-expand-alt"></i>
                                </span>
                            </figure>
                        </a>
                    {% else %}
                        <figure class="image is-3by5">
                            <img src="{% static 'movietut/img/placeholder.svg' %}"
                                 alt="{{ movie }} poster" class="is-contained">
                        </figure>
                    {% endif %}
                </div>
                <div class="column">
                    <div class="content">
                        <h1 class="title">{{ movie.title }}
                            <span class="has-text-weight-light has-text-grey-dark">({{ movie.release_date.year }})</span>
                        </h1>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="field is-grouped">
                            {% csrf_token %}
                            <form class="control" method="POST">
                                <a id="ajax-list" class="button ajax-action" href="#" title="Ajouter à une liste">
                                    <span class="icon is-small">
                                        <i class="fas fa-list"></i>
                                    </span>
                                </a>
                            </form>
                            <form class="control" method="POST">
                                <a id="ajax-like" class="button ajax-action" href="#" title="Ajouter à mes favoris"
                                type="submit">
                                    <span class="icon is-small">
                                        <i class="fas fa-heart"></i>
                                    </span>
                                </a>
                            </form>
                            <form class="control" method="POST">
                                <a id="ajax-bookmark" class="button ajax-action" href="#"
                                title="Ajouter à ma liste d'envies">
                                    <span class="icon is-small">
                                        <i class="fas fa-bookmark"></i>
                                    </span>
                                </a>
                            </form>
                            <form class="control" method="POST">
                                <a id="ajax-grade" class="button ajax-action" href="#" title="Donner une note">
                                    <span class="icon is-small">
                                        <i class="fas fa-star"></i>
                                    </span>
                                </a>
                            </form>
                        </div>
                    {% endif %}
                    <div class="content has-text-justified">
                        <h2>Synopsis</h2>
                        {{ movie.overview }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="poster-wide" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <p class="image">
                <img src="{% get_poster_url movie.poster %}" alt="{{ movie }} poster">
            </p>
        </div>
        <button class="modal-close is-large" aria-label="Fermer"></button>
    </div>

    <script defer>
        document.addEventListener("DOMContentLoaded", function () {
            let ajaxActions = Array.prototype.slice.call(document.querySelectorAll(".ajax-action"), 0);
            if (ajaxActions.length > 0) {
                ajaxActions.forEach(function (el) {
                    el.addEventListener("click", event => {
                        let formData = new FormData();
                        formData.append('ajax-action', el.id);
                        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        const request = new Request('{% url 'movie-detail' movie.pk %}', {
                            method: 'POST',
                            body: formData,
                            headers: {'X-CSRFToken': csrfTokenValue},
                        });
                        fetch(request)
                            .then(response => response.json())
                            .then(result => {
                                window.alert(result['action_result'])
                            });
                    })
                });
            }
        });
    </script>
{% endblock %}